#company-navbar{
	background-color: #292929;
	color: #fff;
	margin-bottom: 0px;
	min-height: 22px;
	padding: 2px 0;
}

#company-navbar a{
	color: #fff;
}

#company-navbar ul{
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
}

#company-navbar .dropdown-menu{
	background-color: #292929;
}

#company-navbar .dropdown-menu a{
	padding: 5px 9px;
}


#company-navbar .dropdown-menu .active{
	background-color: #3F3F3F;
}

#company-navbar .dropdown-menu a:hover{
	background-color: #3F3F3F;
}