.team-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  max-height: 310px;
  overflow: auto;
}

.team-list li {
  width: 170px;
  height: 27px;
  display: inline-block;
  margin: 0px 6px 0px 0px;
  overflow: hidden;
}

.team-list input[type="checkbox"] {
  margin-right: 5px;
}

.team-list label{
	font-size: 16px;
}