@media screen and (max-width: 550px) {
	h3 {
		font-size: 18px;
	}
	.media, .media-body {
		overflow: initial;
	}
	td {
		text-align: center;
	}
	.post-block img.media-object {
		width: 40px;
	}
	.post-block .media-body {
		display: block;
		width: 100%;
	}
	.post-block .media-body td {
		display: inline-block;
		width: 50%;
	}
	.post-block .media-body td:last-child{
		display: block;
		width: 100%;
	}
}